/* lg */ 
@media (min-width: 1400px) {
	
	.banner-form button.form-control {
		height:49px;
	}

	
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	.banner-form .form-control, 
	.banner-form .category-dropdown{
		height:35px;
	}
	.banner-form button.form-control {
		height:35px;
	}
	.download-app{
		padding:10px 20px;
	}
	#header a.btn{
		top:60px;
		right:20px;
		z-index:10;
	}

	.home-two .category-list .category-item, 
	.home-one .category-list .category-item {
		width:25%;
	}

	.main-content {
	padding-top: 225px;
	}

	.category-list .category-item, 
	#services-ad .single-service {
		width:20%;
	}

	.category-title {
	display:block;
	font-size: 12px;
	}

	.category-quantity {
	display:block;
	font-size: 11px;
	}

	.category-icon {
	font-size:2.55rem;
	opacity:0.9;
	}

	.banner-form-full.banner-form input, 
	.home-two .banner-form-full.banner-form input, 
	.home-three .banner-form-full.banner-form input{
		min-width:375px;
	}
	
	/* about us */
	.team-member {
		width:20%;
		min-height:250px;
		margin-bottom:0;
	}
	.about-us h3 {
		margin-top:0;
	}
	.ad-meta{
		left:inherit;
		right:0;
		width:150%;
	}
	.item-info, .ad-item {
		min-height: 142px;
	}
	.ad-profile .user{
		width:40%;
	}
	.congratulations {
		padding:80px;
		padding-bottom:90px;
	}
	#product-carousel .carousel-indicators li, 
	#product-carousel .carousel-indicators li.active {
		height:100px;
		width:83px;
	}
	#services-ad .pagination {
		margin-top: 0;
		margin-bottom: 30px;
	}
	.section.cars-ads .car-info + .car-info {
		margin-left: 0;
	}
	.section.cars-ads .car-info {
		width: 50%;
	}
	.section.cars-ads .ad-meta {
	    width: 126%;
	}
	.section.cars-ads .item-image-box,
	.section.cars-ads .item-image img,
	.cars-ads-box {
		min-height: 173px;
	}
	.section.cars-ads .item-title {
		margin-bottom: 0;
	}	
	.section.cars-ads .ad-item {
		min-height: 175px;
	}
	.section.cars-ads .item-title a {
		font-size: 16px;
	}
	div.index-notice {
	padding: 6px 0 6px 0;
	font-size: 14px;
	width: 100%;
	white-space:pre;
	color: #ffffff;
	font-family: Arial,Helvetica,sans-serif;
	cursor: default;
	}

	.autotype-body {
	font-size: 14px;
	max-width: 100%;
	font-weight: normal;
	margin-top: 30px;
	font-family: Arial,Helvetica,sans-serif;
	cursor: default;
	}

	.nav li a,
	.navbar-default .navbar-nav>li>a {
	background-color: transparent;
	font-weight: 500;
	font-size: 12px;
	color: #ffffff;
	padding: 15px 12px;
	text-transform: uppercase;
	}

	.sign-in li a {
	color: #ffffff;
	font-size: 12px;
	}

	h4.details-desc {
		font-size: 15px;
		font-weight: 500;
	}

	p.description-detail {
		font-size: 13px;
	}

	span.additional-text {
	font-size: 12px;
	color: #2f3432;
	font-family: Arial,Helvetica,sans-serif;
	}

	.short-info li {
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	}

	.short-info li i {
	font-size: 13px;
	color: #000;
	margin-right: 10px;
}

	.short-info li a {
	font-size: 12px;
	color: #707070;
	}
}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.nav-right {
		display: block;
		width: 100%;
		clear: both;
		padding-bottom:20px;
	}

	#header a.btn {
		position:absolute;
		top:12px;
		right:20px;
	}
	.banner-form input {
		min-width: 355px;
	}
	.banner-section h1.title, 
	.banner h1.title {
		font-size: 45px;
		line-height: 50px;
	}
	.banner-form .form-control, .banner-form .category-dropdown {
		height:44px;
	}
	.banner-form button.form-control{
		height:46px;
	}
	
	.category-list .category-item {
		width:33%;
	}

	.ad-info .item-title,
	.ad-info .item-title:hover {
		font-size:16px;
	}
	
	.ad-item, .item-info {
		min-height: 180px;
	}
	.ad-meta .user-option a {
		font-size:16px;
	}
	.single-cta {
		padding: 0 10px;
	}
	.download-app {
		min-height:145px;
		text-align:center;
	}
	.download-app img {
		float:none;
		display:inline-block;
		margin-bottom:5px;
	}
	.footer-widget ul li a{
		font-size:16px;
		line-height:22px;
	}
	.footer-widget h3{
		font-size:22px;
		margin-bottom:25px;
	}
	.social-widget ul li a {
		margin: 10px 0;
	}
	.footer-widget ul li a i{
		font-size:38px;
	}
	
	/* home-one */
	.home-two .category-list .category-item, 
	.home-one .category-list .category-item {
		width:25%;
	}
	
	/* home-two */
	.banner-form-full.banner-form .form-control, 
	.banner-form-full.banner-form .category-dropdown {
		width: 49%;
		border-right: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
		margin-left: 0px;
	}
	.banner-form-full.banner-form .category-dropdown.language-dropdown, 
	#services-ad .category-dropdown.language-dropdown{
		border-right:0;
	}
	.banner-form-full.banner-form input[type="text"]{
		margin-left: 0px;
		min-width:80%;
		border-right: 1px solid #e8e8e8;
		border-bottom:0;
		border-radius:4px;
	}
	.banner-form-full.banner-form button.form-control {
		max-width:140px;
		border-right:0;
	}
	#services-ad .category-dropdown {
		border-right: 1px solid #e8e8e8;
	}
	#services-ad .banner-form input[type="text"] {
		margin-left:0;
		border-right: 1px solid #e8e8e8;
	}
	#view-ad h2 {
		font-size:50px;
	}
	#services-ad .services {
		padding:25px;
	}
	#services-ad .single-service {
		width:33%;
	}
	
	/* about us */
	.team-member {
		width:25%;
	}
	.our-approach {
		text-align:left;
	}
	.about-us h3 {
		font-size:22px;
	}
	.about-info {
		margin-bottom: 20px;
	}
	
	
	/* ad post */
	.post-option {
		margin-bottom:25px;
		padding-bottom:0;
	}
	.ad-section {
		margin: 10px 0;
	}
	.ad-profile .user{
		width:40%;
	}
	
	.ad-profile .my-ads, .ad-profile .favorites {
		padding:30px;
	}
	.ad-profile .user-menu li{
		padding:15px;
	}
	.ad-meta{
		left:inherit;
		right:0;
		width:150%;
	}
	.congratulations {
		padding:50px;
		padding-bottom:65px;
	}
	.congratulations h4{
		font-size:20px;
	}
	
	.contact-info h2 {
		font-size:24px;
	}
	
	#product-carousel {
		margin-bottom:150px;
	}

	#product-carousel .carousel-indicators li, 
	#product-carousel .carousel-indicators li.active {
		margin-left:28px;
	}
	
	#home-section h2 {
		font-size:45px;
	}
	#home-section .btn{
		margin-right:0;
	}
	#services-ad .pagination {
		margin-top: 0;
		margin-bottom: 30px;
	}

	.home-banner h1 {
		font-size: 50px;
	}

	.category-menu {
		width: 25%;
	}

	.pricing-section .pric {
		padding-left: 10px;
		padding-right: 10px;
	}

	.pricing-section .pric li i {
		margin-right: 10px;
	}

	.pricing-section .pric li {
		font-size: 13px;
	}

	.pricing-section .pric h3 {
		font-size: 60px;
		line-height: 60px;
	}

	.pricing-section .pric h3 sup {
		top: -20px;
	}

	.pricing-section .pric h2 {
		margin-bottom: 10px;
	}
	.trending-ads.cars-ads .ad-item {
		min-height: 299px;
	}
	.section.cars-ads .ad-meta {
	    width: 100%;
	}
	.cars-ads-box {
		min-height: 145px;
	}
	.category-menu {
		margin-top: 0;
	}	
	.page .category-section .section-title {
		margin-bottom: 25px;
	}	
}


/* xs */
@media (max-width: 800px) {
	h1 {
		font-size:30px;
	}
	h2 {
		font-size:22px;
	}
	h3{
		font-size:18px;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	h4 {
		font-size:14px;
	}
	h5 {
		font-size:14px;
	}
	
	#header a.btn {
		position:absolute;
		top:12px;
		right: 15px;
		padding: 8px 10px 6px 10px;
	}
	.language-dropdown a {
		font-size:14px;
	}
	.nav li a, .navbar-default .navbar-nav > li > a {
		padding:10px 12px;
	}
	.banner-section h1.title, 
	.banner h1.title {
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 10px;
		margin-top: 0px;
	}
	.banner-section h3 {
		font-size:16px;
		margin: 15px 0 15px;
	}

	#main.user-page {
	padding: 0px 0 40px;
	}
	
	.banner-form .form-control, 
	.banner-form .category-dropdown {
		max-width: 100%;
		min-width: 15%;
		width: 100%;
		border-radius:4px;	
		margin-left:0;
		border-bottom:1px solid #e6e6e6;
		border-right:0;
		text-align: center;
	}

	.banner-form {
		margin: 0px auto 15px auto;
	}

	h3.header {
	font-size: 18px;
	}

	.autotype-body {

	margin-top: 100px;
	}


.banner-form input {
	min-width: 0px;
	padding:0 18px 0;
	margin: 0;
	border-radius: 0;
	font-family: 'MyriadPro-Regular', sans-serif;
	border: none;
	margin-left: -10px;
}

.banner-form .form-control, 
.banner-form .category-dropdown, {	
	display:inline-block;
	width:30%;
	font-size:16px;
}

.banner-form button.form-control {
	max-width: 15%;
}

button.searchbtn {
	font-family: 'MyriadPro-Regular', sans-serif;
	background-color: #004274;
	font-size: 16px;
	font-weight: 500;
	color:#ffffff;
}

button.searchbtn:hover {
	font-family: 'MyriadPro-Regular', sans-serif;
	background: linear-gradient(#025a9c,#004274);
	font-size: 16px;
	font-weight: 500;
	color:#ffffff;
	border:linear-gradient(#025a9c,#004274);
}

input.searchtext {
	border-radius: 5px;
}

.padding5 {
	position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
}

.margin-top-10 {
	margin-top: 10px;
}

	.banner-form button.form-control {
		margin-bottom: 0;
    	position: absolute;
    	right: 5px;
    	top: 0;
	}

	.browse-header {
	color: #ffffff;
	font-family: Arial,Helvetica,sans-serif;
	margin-bottom: 5px;
}

	.browse-span {
		text-align: center !important;
	}

	span.top-cat-text {
		color: #e5e200;
		font-size: 12px;
	}

	div.index-notice {
		padding: 3px 0 3px 0;
		font-size: 1.155rem;
		text-align: center !important;
		width: 100%;
		white-space:pre;
		color: #ffffff;
		font-family: Arial,Helvetica,sans-serif;
		display: block;
	}

	.autotype-body {
	font-size: 12px;
	max-width: 100%;
	text-align: center !important;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 25px;
	font-family: Arial,Helvetica,sans-serif;
}


.main-content {
	padding-top: 180px;
}

.item-image-top {
	position:relative;
    max-width: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

.trending-ads {
	margin-bottom: 15px;
	background-color: #fff;
	padding: 15px 10px;
}

	#services-ad .category-dropdown {
		border-right:0;
	}
	.category-list .category-item, 
	.home-two .category-list .category-item, 
	.home-one .category-list .category-item {
		width: 47%;
	}
	.home-two .category-list .category-item, 
	.home-one .category-list .category-item {
		margin-bottom:10px;
	}
	.ad-section {
		margin: 0 0 25px;
	}
	.ad-item .ad-info {
		min-height: 100px;
	}

	.ad-item {
	    border: 1px solid #ccc;
	    margin: 15px 0;
	    min-height: auto;
	    border-radius: 2px;
	    max-height: 100%;
	    max-width: 800px;
	}

	.item-info {
    min-height: 1px;
    }

    .item-image-box {
    /*max-height: 75px;*/
    overflow: hidden;
	}

	.ad-info .item-title {
		font-size:13px;
	}
	.ad-info .item-cat {
		font-size:12px;
	}
	.ad-info h3.item-price {
		font-size: 1.489rem;
    	font-weight: 700;
	}

	.ad-item .ad-info span, 
	.featured .ad-info span{
		color: #a0a0a0;
		font-size: 12px;
		line-height: 12px;
	}

	.ad-info h3.item-price:hover {
		font-size:15px;
		font-weight: 500;	
	}	
	.single-cta {
		margin-bottom:35px;
	}
	.download-app {
		margin-bottom:25px;
	}
	.footer-top {
		padding: 20px 0 40px;
	}
	.footer-widget h3 {
		margin-bottom:20px;
	}
	.footer-widget ul li a {
		font-size:16px;
		line-height:22px;
	}
	.social-widget ul li a {
		margin:10px 0;
	}
	.footer-widget ul li a i{
		font-size:36px;
	}
	#download {
		padding: 25px 0 50px;
	}
	
	/* home-two */
	.home-two .category-dropdown, 
	.home-two .banner-form input[type="text"], 
	#services-ad .category-dropdown, 
	#services-ad .banner-form input[type="text"] {
		margin-left:0;
		border-radius:4px;
	}
	.banner-form-full.banner-form input, 
	.home-two .banner-form-full.banner-form input, 
	.home-three .banner-form-full.banner-form input {
		min-width: 100%;
	}
	.pagination > li > a, .pagination > li > span{
		padding:3px 8px;
	}
	.banner-form button.form-control {
		margin-left:0;
		border-radius:0 5px 5px 0;
	}
	#view-ad h1{
		margin:0;
	}
	#view-ad h2 {
		font-size:40px;
		margin:5px 0 20px;
	}
	.ad-btn {
		margin-bottom:30px;
	}
	#view-ad img {
		display:none;
	}
	#services-ad .services{
		padding:25px;
	}
	#services-ad .single-service {
		width:49%;
		margin-bottom:0;
	}
	
	/* about us */
	.breadcrumb-section h2.title {
		font-size:24px;
		line-height:26px;
	}
	.about-us h3 {
		font-size:20px;
	}
	.about-info {
		margin-bottom: 0;
	}
	.about-text {
		padding-bottom:0;
	}
	.our-approach {
		text-align:left;
	}
	.team-member {
		width:50%;
		min-height: 250px;
		margin-bottom: 0;
	}
	.client-pragrap {
		font-size:16px;
	}
	
	/* ad post */
	.post-option li a {
		font-size:14px;
	}
	.select-category span.select {
		margin-right:20px;
	}
	.post-option {
		margin-bottom:20px;
		padding-bottom:0;
	}
	.post-option.next-stap {
		padding: 10px 25px;
		margin-bottom:35px;
	}
	.next-stap h2, 
	.ad-profile .user h2 {
		font-size:24px;
	}
	
	/* my adds */
	
	.user-images {
		margin-top:20px;
		margin-right:20px;
		width:20%
	}
	.ad-profile .user {
		width:75%;
	}
	.favorites-user {
		float: right;
		padding-bottom:20px;
	}
	.ad-profile .my-ads, .ad-profile .favorites {
		padding:0 20px;
		border-left:0;
	}
	.ad-profile .favorites-user a {
		font-size:30px;
	}
	.ad-profile .favorites-user small{
		font-size:13px;
	}
	.ad-profile .user-menu li {
		border: 1px solid #f5f5f5;
	}
	.ad-profile .user-menu li a {
		font-size:14px;
	}
	.ad-profile .user h5 {
		font-size:14px;
	}
	.user-profile {
		margin-bottom:15px;
	}
	.ad-profile .user-menu li {
		padding: 12px 19px;
	}
	.user-pro-section .section {
		padding: 10px 20px;
	}
	.user-pro-section label{
		font-size:14px;
	}
	.user-pro-section .form-control{
		width:70%;
	}
	.user-pro-section select, 
	.user-pro-section input {
		font-size: 14px;
		height: 35px;
	}
	.ad-meta .meta-content {
		padding:5px;
	}
	.ad-meta .meta-content .visitors {
		display:block;
	}
	#something-sell h2.title {
		font-size: 28px;
		line-height: 32px;
	}
	.congratulations {
		padding: 60px 25px;
		padding-bottom: 70px;
	}
	/* category */
	.recommended-ads {
    padding: 0px 3px 0px;
	}
	.recommended-ads h4{
		display:inline;
	}
	.pagination > li > a{
		font-size:12px;
	}
	/* sign up */
	.user-account {
		padding:30px 30px 40px;
	}
	.user-account  h2{
		margin-bottom:35px;
	}
	.user-page .btn-primary {
		padding: 10px 30px;
		font-size: 16px;
	}
	.contact-info, .feedback {
		min-height: inherit;
	}
	.contact-info {
		margin-bottom:25px;
	}
	.contact-info h2{
		margin-top:0;
	}
	
	/* ad details */
	.selected-product .select-category li {
		margin-bottom:5px;
		margin-right:0px;
	}
	.postdetails li a{
		font-size:14px;
	}
	.selected-product .select-category li.active {
		padding-left:70px;
	}
	.adpost-details .form-group {
		margin-bottom:20px;
	}
	.adpost-details label.label-title{
		padding-top:0;
	}
	.add-image label.upload-image:before {
		font-size:26px;
		margin-left:-11px;
	}
	.select-price input[type="text"]{
		max-width:190px;
	}
	.checkbox label {
		margin-right:20px;
	}
	.adpost-details label {
		font-size:14px;
	}
	.btn.btn-primary {
		padding:8px 30px 10px;
		font-size:16px;
	}
	section {
		padding: 0 0;
	}


	#product-carousel {
		margin-bottom:115px;
	}	
	#product-carousel .carousel-indicators li, 
	#product-carousel .carousel-indicators li.active {
		height: 70px;
		width: 68px;
		margin-left:8px;
	}
	#product-carousel .carousel-control {
	background: none !important;
    width: 50px;
    height: 50px;
    top: 55%;
    margin-top: 0;
	}
	#product-carousel .carousel-indicators {
		bottom: -105px;
	}
	.slider-text h2 {
		font-size:24px;
	}
	#main .slider-text h3.title {
		font-size:28px;
		margin:5px 0 8px;
	}
	.short-info li a {
		font-size:14px;
	}
	
	#services-ad .pagination, 
	.pagination {
		margin-top:0;
		margin-bottom:25px;
	}
	
	#home-section h2 {
		font-size:36px;
	}
	#home-section img {
		display: none;
	}
	.home-banner {
		padding-top: 0;
		padding-bottom: 30px;
	}
	.home-banner .car-info {
		margin-top: 50px;
		margin-bottom: 20px;
	}
	.home-banner h1 {
		font-size: 40px;
	}
	.category-menu {
		width: 50%;
		margin-top: 0;
	}
	.page .section-title {
		margin-bottom: 20px;
	}
	.category-section .section-title h4,
	.category-section .section-title h5 {
		float: none;
	}
	.found-section h1 {
		font-size: 75px;
	}
	.found-section {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.upcoming-section {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.upcoming-section h1 {
		font-size: 36px;
		margin-top: 15px;
	}
	#countdown li span {
		font-size: 45px;
		line-height: 60px;
	}
	#countdown li {
		width: 70px;
	}
	#countdown li + li {
		margin-left: 25px;
	}
	#countdown {
		margin-top: 0;
		margin-bottom: 25px;
	}
	.about-trade {
		padding: 40px 0;
	}
	.about-trade .logo-intro img {
		width: 15%;
	}
	.about-trade h1 {
		font-size: 36px;
	}
	.about-trade .about-title {
		margin-bottom: 20px;
	}
	.about-trade .about-info {
		margin-top: 10px;
	}
	.contac-section h1 {
		font-size: 36px;
		margin-bottom: 25px;
	}
	.contac-section {
		padding: 20px 0;
	}
	.section.cars-ads .car-info + .car-info {
		margin-left: 0;
		padding-top: 0;
	}	
	.section.cars-ads .ad-meta {
	    width: 100%;
	}
	.trending-ads.cars-ads .item-image	{
		float: none;
		margin-right: 0;
		max-width: 100%;
	}
	.section.cars-ads .ad-info {
		padding: 15px;
	}
	.section.cars-ads .ad-info {
		min-height: 0;
	}	
	.section.cars-ads .car-info {
		padding-top: 0;
	}	
	.cars-ads-box {
		min-height: 205px;
	}
}
	

	/*@media (max-width: 500px) {

	.carousel-indicators {
		bottom: 0px;
	}
	
	}*/
 
/* XS Portrait */
@media (max-width: 800px) {
	.tab-manu .nav-tabs li a {
		font-size:12px;
		padding:10px 6px;
	}

	.adpost-details {
	padding-right: 10px;
    padding-left: 10px;
	}

	.container {
    padding-right: 0px;
    padding-left: 0px;
	}

	.item-image {
    position: relative;
    max-width: 100%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    }

    .ad-info {
    padding-left: 5px;
    margin-top: 0px;
    line-height: 0px;
    }

	.category-info {
    background-color: #ffffff;
    padding: 0px 0px 0px 0px;
	}
	.ad-item .ad-info {
		min-height: auto;
	}
	.download-app {
		padding:10px 18px;
	}
	.download-app strong {
		font-size:20px;
	}

	.sign-in li i, .sign-in li a {
		color: #024f77;
		font-size: 15px;
	}

	.nav-second, .nav-second ul li a {
	padding: 10px 10px 20px 0;
	text-align: right;
	color: #024f77;
	font-weight: 500;
	background-color: #e7edee;
	}

	div.vertical-line{
      width: 0.001rem;
      background-color: silver;
      height: 45px;
      float: left;
      border: 1px ridge silver ;
      border-radius: 4px;
    }

    .sign-in li:last-child {
	position: relative;
	padding-left: 0px;
}

    img.user-icon {
    	height: 20px;
    	padding-right: 10px;
    }

    .user-account-login {
    	background-color: #fff;
    	border-radius: 4px;
    	padding: 10px 60px;
    	min-height: 550px;
    }

    h3.slider-text3 {
    font-size: 19px;
    font-weight: 500;
    color: #022a43;
}

    li.border-right {
      border-right: 1px solid #b5b9b9;
    }

	li.ads a {
	margin-left: 20px;
	}

	@media screen {
	.noscreen-res {
	display:none;
}
	

	.banner-form-full.banner-form input {
		min-width:85%;
	}
	#services-ad .single-service {
		width:100%;
		margin-bottom:0;
	}
	.team-member {
		width:100%;
		margin-bottom:15px;
	}
	/* my adds */
	
	.user-images {
		width:100%
	}

	.section {
    background-color: #fff;
    border-radius: 4px;
    padding: 0px 5px 20px 5px;
	}

	.ad-profile .user {
		width:100%;	
	}
	.ad-profile {
		position:relative;
	}
	.favorites-user {
		position:absolute;
		top:25px;
		right:20px;
	}
	.ad-profile .my-ads, 
	.ad-profile .favorites {
		padding: 0 10px;
		border-left: 0;
	}
	.ad-profile .user-menu li {
		padding: 10px 14px;
	}
	.single-cta {
		margin-bottom: 0;
	}
	.ad-meta{
		padding-left:16px;
	}
	.ad-meta .user-option a{
		width:25px;
		height:25px;
		line-height:25px;
	}
	#something-sell h2.title {
		font-size: 25px;
		line-height: 28px;
	}
	.congratulations {
		padding: 45px 15px;
		padding-bottom: 50px;
	}
	.congratulations h4{
		font-size: 15px;
		font-weight: 500;
	}
	.congratulations i {
		font-size: 45px;
		margin-bottom: 10px;
	}
	.recommended-ads h4{
		display:block;
	}
	.user-option .forgot-password{
		float:left !important;
	}
	.user-account .checkbox label{
		margin:0;
	}
	.user-account .user-option{
		margin-top:20px;
	}
	.ad-details-page h4 span{
		display:none;
	}
	/* ad details */
	.postdetails .edit{
		right:0;
		top:-15px;
	}
	.add-image label.upload-image {
		margin-left:10px;
		height:60px;
	}
	.select-price input[type="text"]{
		margin:10px 0;
	}
	.slider {
		padding:10px;
	}
	#product-carousel {
		margin-bottom:35px;
	}
	#product-carousel .carousel-indicators li, 
	#product-carousel .carousel-indicators li.active {
		height: 37px;
		width: 38px;		
	}
	#product-carousel .carousel-indicators {
		bottom: -40px;
	}
	#main .slider-text h3.title {
		font-size: 24px;
	}

	.category-menu {
		width: 100%;
	}

	.home-banner h1 {
		font-size: 30px;
	}

	.home-banner .contact-info {
		padding-bottom: 20px;
	}

	.pricing-section .pric h3 {
	    font-size: 50px;
	    line-height: 20px;
	}

	.pricing-section .pric h3 sup {
		top: -20px;
	}

	.pricing-section .pric h2 {
		margin-bottom: 20px;
	}	

	.upcoming-section h1 {
		font-size: 30px;
		margin-bottom: 0;
	}

	.upcoming-section h2 {
		font-size: 20px;
		margin-top: 5px;
	}
	#countdown li {
		font-size: 14px;
		width: 60px;
	}
	#countdown li + li {
		margin-left: 10px;
	}
	#countdown li span {
		font-size: 30px;
		line-height: 45px;
	}
	.col-to-action h1 {
		font-size: 24px;
	}
	.col-to-action {
		padding: 30px 0 45px;
	}

	.cars-ads-box {
		min-height: 255px;
	}	

}

