/*----------------------------------------------
css settings for HTML div exactCenter 
------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway);

#main{
    width:960px;
    margin:50px auto;
    font-family:raleway;
}



h2{
    background-color: #FEFFED;
    text-align:center;
    border-radius: 10px 10px 0 0;
    margin: -10px -40px;
    padding: 15px;
}

hr{
    border:0;
    border-bottom:1px solid #ccc;
    margin: 10px -40px;
    margin-bottom: 30px;
}

#container{
    width: 88%;
    float: left;
    border-radius: 10px;
    font-family:raleway;
    border: 2px solid #ccc;
    padding: 10px 40px 25px;
margin: 20px 40px 40px 0;}

select{
    width:99.5%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-family:raleway;
} 

input[type=submit] {
    width: 20%;
    background-color: #FFBC00;
    color: white;
    border: 2px solid #FFCB00;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 1%;
    float: left;
}
input[type=button] {
    width: 48%;
    background-color: #FFBC00;
    color: white;
    border: 2px solid #FFCB00;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 1%;
    float: left;
}
input[type=button]:hover{
    transform: scale(1.05); 
}
input[type=submit]:hover{
    transform: scale(1.05); 
}
#profile{
    padding:50px;
    border:1px dashed grey;
    font-size:20px;
    background-color:#DCE6F7;
}

#logout{
    float:right;
    padding:5px;
    border:dashed 1px gray;
}

a{
    text-decoration:none;
    color: cornflowerblue;
}

i{
    color: rgb(155, 155, 155);
}
/*-----------------------------------------------------------------
css settings for right side advertisement
------------------------------------------------------------------*/
#formget{
    float:right;
}
.card_container1{
	
	 -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.card_container1:hover{
	
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  cursor:pointer
  }
  
  .card_container2{
	
	 -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.card_container2:hover{
	
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  cursor:pointer
  }
  
  .card_container3{
	
	 -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor:pointer
}

.card_container3:hover{
	
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  }
#book_container{
    width: 190px;
    height: 260px;
    border: 1px dashed rgb(195, 195, 195);
    float: left;
    margin: 9px 24px;
    padding: 20px;    
  box-shadow: 0px 5px 17px 1px #99A3AD, 0px 0px 40px #EEEEEE;
}
hr.type_1 {
    border: 0;
    height: 55px;
    background-image: url(../images/type_1.png);
    background-repeat: no-repeat;
    margin: 10px 67px;
}
#product_img{
    width: 325px;
}
img#paypal_logo {
    float: right;
    margin-right: 27px;
    margin-top: 1%;
    padding-bottom: 15px;
}
.fgrow{
    margin-bottom: 15px;
}

#return {
    width: 492px;
    height: 350px;
    float: left;
    border-radius: 10px;
    font-family: raleway;
    border: 2px solid #ccc;
    padding: 10px 40px 11px;
    margin: 16PX;
}
#return h3#success {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    color: green;
}
#return P {
    margin-left: 122px;
}
#return .back_btn {
    margin-top: 51px;
    text-align: center;
}
#btn {
    width: 100%;
    background-color: #FFBC00;
    color: white;
    border: 2px solid #FFCB00;
    padding: 10px 70px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;

}
a{
    text-decoration:none;
    color: cornflowerblue;
}
#formget{
    float: right;
}
#return h3#fail{
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    color: red;
}

.mrtpbt{
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 25px;
}
#return h3#Pending{
    color: #FFBC00;
    text-align: center;
    font-size: 24px;
    margin-top: 50px;

}
.description{

    border: 1px dashed rgb(195, 195, 195);
    height: 150px;
    margin: 10px auto;
}
.description p{
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: center;


}
.simplePopup {
    display:none;
    position:fixed;
    border: 4px solid #FD703F;
    background:#fff;
    z-index:3;
    width: 290px;
    min-width: 290px;
    padding: 12px;
    text-align: center;
}

.simplePopupClose {
    float:right;
    cursor:pointer;
    margin-left:10px;
    margin-bottom:10px;
}
.simplePopup h3{
    text-align: center;
    font-family: raleway;
}
.simplePopup b{
    font-size: 30px;
}
.simplePopup img{
    position: relative; 
    background-color: #FFFFFF; 
    border-width: 7px; 
    border-style: solid; 
    border-color: rgb(253, 112, 63);
    border-radius: 0px; 
    width: 100px;
}
.simplePopupBackground {
    display:none;
    background:#000;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index:1;
}
#results {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #ccc;
    table-layout: fixed;
    margin-bottom: 15px;
    font-family:raleway;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.head {
    font-size: 15px;
    font-family: "proxima_novasemibold", sans-serif;
    background: #FEFFED;
    color: #1d4c55;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.head th, td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: normal;
    padding: 10px 0 10px;
    text-align: center;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


#email_input{
    margin:50px 0 0 145px;
    float:left;
}
#submit{
    margin:50px 20px;
}

input[type='email']{

    height:40px;
    width:280px;
}

input[type=radio] {
    width: 100%;
    height: 1.5em;
	display:none;
}

.hli {

    border:2px solid blue;

}
#right-icon{
	
     width: 35px;
    height: 35px;
    margin-left: 76px;

	
}
.right-icon1,.right-icon2,.right-icon3{
	
	display:none;
}
label b{
    margin-right: 18px;
}