@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

*{
	padding:0;
	margin:0;
}

.wrap{
	max-width: 100%;
	margin:0px 0px;
}

.type-wrap{
	margin: 0px 0px;
    padding: 11px;
    background: none;
    border-radius: 4px;
    border: #a5a2a2 1px solid;
    background-color: rgba(0, 0, 0, 0.6);
}

.radius-top {
	
}

#count-index {
	font-size: 16px;
}

#texting {
	font-color:#ff0000;
}

#autotyped {
	font-size: 30px;
	font-color: #ff0000;
}